@include('@Painel/Views/template/header',['sidebar'=>$menu])
<!-- BEGIN: Page Main-->
        <div class="row  px-4">
            <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
			<div class="jumbotron jumbotron-fluid">
             <div class="container">
             <h1 class="display-4"><img style="width:120px;height:120px" src="{{user_image()}}" alt="..." class="rounded-circle">{{$find->name}}</h1>
            <p class="lead">{{$find->email}}</p>
			
			
			  <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
                <span class="btn btn-danger">{{$find->id}}</span>
                <span class="btn btn-success">{{$find->role}}</span>
				<span class="btn btn-info">{{$find->credit}}</span>
              </div>
			
           </div>
            </div>
			</div>
        </div>
    <!-- END: Page Main-->
 
@painel_footer()