@include('@Painel/Views/template/header',['sidebar'=>$menu])
<!-- BEGIN: Page Main-->

@component('p_header_form',[
'title'=>'Alterar senha',
'url'=>'profile/password'
])


        <div class="row  px-4">
            <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">


           



@component('p_csrf')

			
<div class="col-6">
  <div class="mb-4 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Nova senha</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" name="password-1">
    </div>
  </div>
  
   <div class="mb-4 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Confirme senha</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" name="password-2">
    </div>
  </div>
  
  
   <div class="mb-4 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Senha atual</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" name="password">
    </div>
  </div>
</div>			
			
			
			</div>
        </div>
        @component('p_form_close')	
 
@painel_footer()