@include("@Painel/Views/header")

<div class="container px-4 py-2" id="featured-3">
    
<div class="jumbotron">
  <h1 class="display-4">Olá, {{user_first()}}!</h1>
  <p class="lead">Configure e personalize a plataforma do seu jeito usando o menu de configurações ao lado ou abrindo no ícone de menu.</p>
  <hr class="my-4">
  <p>Para acesso rápido as configurações gerais, utilize o botão abaixo.</p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-md" href="{{url('dashboard/settings/environment')}}" role="button">Configurações gerais</a>
  </p>
</div>	
	
</div>

@include("@Painel/Views/footer")