@include("@Painel/Views/header")

@component('p_header_form',[
'title'=>'Adicionar uma nova permissão',
'route'=>'dashboard/settings/permissions/create'
]) 
{{csrf_field()}}
<div class="row container py-3">
	<div class="col-3">
      <label>Chave da permissão</label>
      <input class="form-control" type="text" name="key" required>
    </div>
	
	<div class="col-9">
      <label>Descrição da permissão</label>
      <input class="form-control" type="text" name="description" required>
    </div>
	
</div>
@component('p_close_form')

@include("@Painel/Views/footer")