@include("@Painel/Views/header")

@component('p_header_form',[
'title'=>'Configurações de SMTP',
'route'=>'dashboard/settings/smtp'
]) 
{{csrf_field()}}
<div class="row container py-3">
	<div class="col-2">
      <label>#port#</label>
      <input class="form-control" type="number" name="port" min="0" value="{{NP_EMAIL_PORT}}">
    </div>
	
	<div class="col-10">
      <label>#host#</label>
      <input class="form-control" type="text" name="host" value="{{NP_EMAIL_HOST}}">
    </div>
	
	<div class="col-6">
      <label>#email#</label>
      <input class="form-control" type="email" name="email"  value="{{NP_EMAIL}}">
    </div>
	
	<div class="col m4 s6">
      <label>#name#</label>
      <input class="form-control" type="text" name="name" value="{{NP_EMAIL_NAME}}">
    </div>

	<div class="col-6">
      <label>Usuário do servidor SMTP</label>
      <input class="form-control" type="text" name="user" value="{{NP_EMAIL_USER}}">
    </div>
	
	<div class="col-6">
      <label>#password#</label>
      <input class="form-control" type="password" name="pass"  value="{{NP_EMAIL_PASS}}">
    </div>
	
	 <div class="col-12 py-2">
	  @component('p_switch',['name'=>'auth','checked'=>NP_EMAIL_AUTH,'text'=>'Usar autenticação SMTP'])
    </div>
</div>
@component('p_close_form')

@include("@Painel/Views/footer")