@php
$sidebar = array(
     "icon=snippet_folder|text=Pastas|path=filemanager/folders"=>
	 [
		"icon=source|text=Listar pastas|link=filemanager/folders",
		"icon=create_new_folder|text=Nova pasta|link=filemanager/folders/create"
	 ],
     "text=Diretórios|link=filemanager|icon=folder",
	 "text=Protegidos|link=filemanager?init:../storage|icon=lock",
	 "icon=backup|text=Uploads|path=filemanager"=>
	 [
		"icon=image|text=Imagens|link=filemanager/import-image",
		"icon=upload_file|text=Arquivos|link=filemanager/import-file"
	 ]
	 );
@endphp
@include('@Painel/Views/template/header',['sidebar'=>$sidebar,'color_top'=>'info','title_app'=>'Gerenciador de arquivos'])