@include('@FileManager/Views/header')

<div class="sticky-header container mt-2 ">
  <div class="d-flex align-items-center">
      <button class="btn-back" onclick="history.go(-1);"><i class="material-icons">chevron_left</i></button>
      <h2 class="sticky-title">Importar imagem</h2>
  </div>
</div>

<form enctype="multipart/form-data" action="{{url()}}store-image" method="post">
  <div id="form-local" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11"></div>
  {{form.token()}}
  @grid('container-fluid np-scroll')
    @grid('row m-auto p-4_5')      
    
      @grid('col-md-8 mb-3')
          {{form.label(['text'=>'Descrição', 'id'=>'description'])}}
          {{form.textarea(['name'=>'description', 'id'=>'description'])}}
		   <p>É importante informa a descrição do arquivo, pois ela será utilizada no campo de busca caso você deseja buscar um arquivo especificamente. </p>
      @endgrid

      @grid('col-md-4 mb-3')
          {{form.label(['text'=>'Qualidade da imagem', 'id'=>'image-quality'])}}
          {{form.select(['name'=>'image-quality', 'id'=>'image-quality', 'required'=>true],
           [
            '1'=>'Alta', 
            '2'=>'Média', 
            '3'=>"Baixo", 
            '4'=>"Miniatura"
           ])}}
      @endgrid

      @grid('col-md-6 mt-1 mb-3')
        {{form.file(['name'=>'userfile'])}}
      @endgrid

    @endgrid
  @endgrid
  <div class="submit-position">
    <button id="create-title" class="btn btn-sticky fw-bold btn-primary btn-form-submit">Importar</button>
    <button id="create-title-loading" class="btn btn-primary btn-form-loading" style="display:none;" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Importando...
    </button>
  </div>
</form>

@painel_footer()

<style scoped>
  .submit-position{
    position: absolute;
    top: 1.9%;
    right: 2%;
    z-index: 1024;    
  }

  .sticky-header{
    padding: .4rem 1.85rem;
  }

  .scroll-alert{
    overflow-y: scroll;
    max-height: 65vh;
    z-index: 99;
  }

  .lh-alert{
    line-height: 1.65rem;
  }
</style>

<script>
  $('form').submit(function(){
    let formData = new FormData(this);
    $('#create-title').hide();
    $('#create-title-loading').show();
    $.ajax({
      url: '{{url()}}store-image',
      type: 'POST',
      data: formData,
      cache: false,      
      processData: false,
      contentType: false,
      xhr: function() { // Custom XMLHttpRequest
        let myXhr = $.ajaxSettings.xhr();
        if (myXhr.upload) { // Avalia se tem suporte a propriedade upload
          myXhr.upload.addEventListener('progress', function() {
            /* faz alguma coisa durante o progresso do upload */            
          }, false);
        }

        return myXhr;
      }
    }).done(function(data){
      $('#create-title').show();
      $('#create-title-loading').hide();
      json = JSON.parse(data);
        $("#form-local").append(
            `<div class="alert alert-${json.type == "error" ? "danger" : "info"} scroll-alert alert-dismissible" role="alert">
                ${json.msg}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            </div>`
        );
    });

    return false;
  });
</script>

