@php

$sidebar = array(
	"text=Usuários|icon=group|path=dashboard/users"=>
	[
	  "text=Usuários|link=dashboard/users|icon=",
	  "text=Novo usuário|link=dashboard/users/create|icon="
	],
	"text=Configurações|icon=settings|path=dashboard/settings"=>
	[
	  "text=Funções|link=dashboard/settings/roles|icon=",
	  "text=Permissões|link=dashboard/settings/permissions|icon=",
	  "text=Gerais|link=dashboard/settings/environment|icon=",
	  "text=Tema|link=dashboard/settings/theme|icon=",
	  "text=SMTP|link=dashboard/settings/smtp|icon=",
	  "text=Banco de dados|link=dashboard/settings/db|icon=",
	  "text=Chave de API|link=dashboard/settings/key-api|icon="
	],
	"text=Módulos|icon=widgets|path=modules"=>
	[
	 "text=Gerenciar|link=dashboard/settings/modules",
	 "text=Importar|link=dashboard/settings/modules/import"
	]	
);

@endphp

@include('@Painel/Views/template/header',['sidebar'=>$sidebar])
