<!DOCTYPE html>
<html lang="{{NP_LANG}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>#login_account#</title>
        <link href="{{asset()}}/painel/css/styles.css" rel="stylesheet" />
    </head>
<style>
	html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
	</style>
  <body class="text-center">     
<main class="form-signin">
  <form id="login">
  {{csrf_field()}}
   									
   <a href="{{url()}}"><img class="mb-4" src="{{asset('logo.png')}}" alt="" width="100" height="80"></a>
   <h1 class="h3 mb-3 fw-normal">#login_account#</h3> 
						
    <div class="form-floating">
      <input type="email" autocomplete="on" class="form-control" id="floatingInput" name="email" required placeholder="name@example.com">
      <label for="floatingInput">#email#</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" required placeholder="sua--senha">
      <label for="floatingPassword">#password#</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember">#remember_login#
      </label>
    </div>
   <button class="w-100 btn btn-lg btn-outline-primary np-btn-submit" type="submit">#enter#</button>
   <button class="w-100 btn btn-lg btn-outline-primary np-btn-loading" style="display:none" type="button" disabled>
    Conectando
   <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
   <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
   <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  </button>
  
    <div class="np-local-alert py-2" style="height:60px"></div>
  
	<div class="py-2">
	<a class="btn" href="{{url('register')}}">#register#</a>
	<a class="btn" class="small" href="{{url('password/reset')}}">#forgot_password#</a>
	</div>
    <p class="mt-5 mb-3 text-muted">&copy; {{NP_NAME}} - {{date('Y')}}</p>
  </form>
</main>
    <script src="{{asset()}}/painel/js/jquery.min.js"></script>
    </body>
</html>
 <script>
      $(function(){ 
	     let local = $('.np-local-alert');
		 @if($logout)
				  local.html('<div class="alert alert-info" role="alert">#session_closed_success#</div>');
	     @endif
        $("#login").submit(function(){
		
          
            var vars = $(this).serialize();
		  
            <?php
			   $url = (isset($_SESSION['np_route_auth_login'])) ? $_SESSION['np_route_auth_login'] : url('dashboard'); 
			?>
			
            $.ajax({
            url : "{{url('login')}}",
            type : 'post',
            data : vars,
            beforeSend : function(){  
			      $('.np-btn-submit').hide();
			      local.html('');
			      $('.np-btn-enter').hide();
                  $('.np-btn-loading').show();
                  
            },
          success : function(data){
              if(data == 'success'){
                window.location.href = "{{$url}}";
              }else{
                if(data == 'user_not_found'){
				  
				     local.html('<div class="alert alert-danger" role="alert">#user_not_found#</div>');
				  
                }else if(data == 'invalid_email'){
				
					 local.html('<div class="alert alert-danger" role="alert">#invalid_email#</div>');
					 
                }else if(data == 'invalid_password'){

					 local.html('<div class="alert alert-danger" role="alert">#invalid_password#</div>');
					 
                }else{
                  alert("server error");
                }
              }
                  $('.np-btn-loading').hide();
                  $('.np-btn-submit').show();
            }
            }); 
          
            return false;
          });
        
        });
</script>
