<!DOCTYPE html>
<html lang="{{NP_LANG}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>#change_password#</title>
        <link href="{{asset()}}/painel/css/styles.css" rel="stylesheet" />
    </head>
    <body class="bg-light">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header text-center">
									<h3 class="font-weight-light my-4"><a href="{{url()}}">{{NP_NAME}}</a></h3>
									<p class="rounded-pill card">#change_password#</p>
									</div>
									
                                    <div class="card-body">
									   @if($token)
                                        <form id="login">
										   {{csrf_field()}}
										    <input type="hidden" name="id" value="{{$token}}">
                                            <div class="form-floating mb-3">
                                                <input required class="form-control" id="inputEmail" name="password" type="password" placeholder="#new_password#" />
                                                <label for="inputEmail">#new_password#</label>
                                            </div>
                                           <div class="form-floating mb-3">
                                                <input required class="form-control" id="inputEmail" id="password2" name="password2" type="password" placeholder="#confirm_password#" />
                                                <label for="inputEmail">#confirm_password#</label>
                                            </div>  
											<div class="align-items-center justify-content-between">
					                         <div class="np-local-alert"></div>
											</div>
											
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="{{url('login')}}">#to_login_page#</a>
                                                <input type="submit" class="btn btn-outline-primary np-btn-enter" value="#change_password#">
												
												<button class="btn btn-primary np-btn-loading" style="display:none" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                 Atualizando...
                                                </button>
                                            </div>
                                        </form>
										@else
										 <div class="alert alert-warning" role="alert">
                                         <p class="np-panel np-pale-yellow np-padding np-leftbar np-border-red">#invalid_token_password_update#<br><br>
		                                 <a href="{{url('password/reset')}}" class="btn btn-outline-danger">#generate_token#</a></p></div>
										@endif
										
										
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{{url('register')}}">#register#</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
			

		
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">{{date('Y')}} &copy; {{NP_NAME}}</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
		<script src="{{asset()}}/painel/js/jquery.min.js"></script>
    </body>
</html>



 <script>
      $(function(){ 
	  
        $("#login").submit(function(){
		
          let local = $('.np-local-alert');
          var vars = $(this).serialize();

            <?php
			   $url = (isset($_SESSION['np_route_auth_login'])) ? $_SESSION['np_route_auth_login'] : url('dashboard'); 
			?>
            $.ajax({
            url : "{{url('password/reset')}}",
            type : 'post',
            data : vars,
            beforeSend : function(){  
			      local.html('');
			      $('.np-btn-enter').hide();
                  $('.np-btn-loading').show();
                  
            },
          success : function(data){
                  $('.np-btn-loading').hide();
                  $('.np-btn-enter').show();
				  local.html(data);
            }
            }); 
          
            return false;
          });
        
        });
</script>

