{include 'header'}

<main class="container">
  <div class="bg-light p-5 rounded mt-3">
    <p>Nopake é um microframework PHP progressivo que utiliza fortemente o padrão MVC. Apesar de o Nopake ser considerado um microframework pelos seus desenvolvedores, ele possui funcionalidades nativas em seu núcleo que poderá escalar uma aplicação para um postura de funcionalidades mais robustas. Um exemplo disso são as funções e classes para autenticação de usuários entre outros.</p>
  </div>
</main>

{include 'footer'}